* {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans Narrow', sans-serif; }

html {
  font-size: 62.5%; }

/************************* HEADER **********************/
header {
  position: relative;
  width: 100%;
  height: 100vh; }

.bg-light {
  background: rgba(255, 255, 255, 0.267) !important; }
  .bg-light .navbar-collapse {
    display: flex;
    justify-content: flex-end; }
    .bg-light .navbar-collapse .navbar-nav .nav-item {
      padding: 5px 8px; }
      .bg-light .navbar-collapse .navbar-nav .nav-item #cart {
        position: absolute;
        display: none; }
        .bg-light .navbar-collapse .navbar-nav .nav-item #cart img {
          width: 50px;
          height: 50px; }
        .bg-light .navbar-collapse .navbar-nav .nav-item #cart table {
          width: 500px;
          height: 600px; }
          .bg-light .navbar-collapse .navbar-nav .nav-item #cart table #t-body tr td {
            font-family: 'PT Sans Narrow', sans-serif;
            text-transform: uppercase;
            font-size: 12px; }
          .bg-light .navbar-collapse .navbar-nav .nav-item #cart table thead tr td {
            font-family: 'PT Sans Narrow', sans-serif;
            text-transform: uppercase;
            font-size: 13px; }
      .bg-light .navbar-collapse .navbar-nav .nav-item .nav-link {
        color: #000;
        font-size: 14px;
        text-transform: uppercase; }
        .bg-light .navbar-collapse .navbar-nav .nav-item .nav-link i {
          font-size: 20px; }

/* *********************** Footer *************************/
footer {
  height: 40vh;
  padding: 3rem;
  margin-top: 2rem;
  color: #000; }
  footer .row {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between; }
    footer .row .contact {
      width: 30%;
      height: 30vh; }
      footer .row .contact img {
        width: 13vw; }
      footer .row .contact .datos ul h3 {
        text-transform: uppercase; }
      footer .row .contact .datos ul li {
        list-style: none; }
    footer .row .informacion, footer .row .links {
      width: 30%;
      height: 30vh; }
      footer .row .informacion h3, footer .row .links h3 {
        text-transform: uppercase; }
      footer .row .informacion li, footer .row .links li {
        list-style: none; }
      footer .row .informacion .media, footer .row .links .media {
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center; }
        footer .row .informacion .media ul, footer .row .links .media ul {
          display: flex;
          justify-content: space-around; }
          footer .row .informacion .media ul li i, footer .row .links .media ul li i {
            font-size: large;
            color: #000;
            font-weight: bold;
            margin: 10px; }
  footer #copyright {
    display: flex;
    justify-content: center;
    align-items: center; }
    footer #copyright i {
      color: red;
      font-weight: bold; }

/*-------- Brands --------*/
.brands {
  display: flex;
  justify-content: center; }
  .brands .col-5 {
    width: 120px;
    display: flex;
    justify-content: center; }
    .brands .col-5 img {
      object-fit: contain;
      width: 50%;
      cursor: pointer;
      filter: grayscale(100%);
      transition: 1s ease; }
      .brands .col-5 img:hover {
        filter: grayscale(0); }

/************************* CATEGORIES HOME ********************/
.d-flex {
  margin: 5% 0 5% 0;
  justify-content: space-evenly; }
  .d-flex .categorie {
    width: 22vw;
    height: 75vh;
    object-fit: cover;
    position: relative; }
    .d-flex .categorie img {
      width: 22vw;
      height: 75vh;
      object-fit: cover;
      transition: 1s ease; }
      .d-flex .categorie img:hover {
        transform: translateY(-10px) scale(1.02); }
    .d-flex .categorie .title-categorie {
      text-align: center;
      bottom: 5%;
      left: 5%;
      right: 5%;
      position: absolute; }
      .d-flex .categorie .title-categorie h4 {
        font-size: 30px;
        text-transform: uppercase;
        color: #fff;
        font-family: 'Francois One', sans-serif;
        font-weight: bold; }
      .d-flex .categorie .title-categorie a {
        text-decoration: underline;
        text-transform: uppercase;
        color: #000;
        font-size: 15px; }

.title {
  text-align: center;
  margin: 5%;
  font-size: 30px; }

.container-madre {
  width: 100%; }

.filtros-B {
  margin: 3%; }
  .filtros-B img {
    width: 20vw;
    height: 60vh;
    object-fit: cover; }

.small-container {
  margin: 0 1% 5% 0; }
  .small-container .col-4 {
    flex-basis: 30%;
    padding: 10px;
    min-width: 320px;
    margin-bottom: 50px;
    transition: 1s ease; }
    .small-container .col-4:hover {
      transform: translateY(-5px); }
    .small-container .col-4 .card {
      border-style: none; }
    .small-container .col-4 h4 {
      color: #000; }
    .small-container .col-4 p {
      font-size: 14px;
      font-weight: bold; }
    .small-container .col-4 img {
      width: 100%; }
    .small-container .col-4 .btn-primary {
      background: #fff;
      text-transform: uppercase;
      border-radius: 0;
      border-color: #000;
      color: #000; }
      .small-container .col-4 .btn-primary:hover {
        color: #fff;
        background: black; }
