/* *********************** Footer *************************/
footer {
    height: 40vh;
    padding: 3rem;
    margin-top: 2rem;
    color: $color-negro;

    .row {
        display: flex;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        justify-content: space-between;
        .contact{
            width: 30%;
            height: 30vh;
            img{
                width: 13vw;
            }
            .datos{
                ul{
                    h3{
                        text-transform: uppercase;
                    }
                    li{
                        list-style: none;
                    }
                }
            }
        }
        .informacion, .links {
            width: 30%;
            height: 30vh;
            h3{
                text-transform: uppercase;
            }
            li{
                list-style: none;
            }
            .media{
                height: 20vh;
                display: flex;
                align-items: center;
                justify-content: center;
                ul{
                    display: flex;
                    justify-content: space-around;
                    li{
                        i{
                            font-size: large;
                            color: $color-negro;
                            font-weight: bold;
                            margin: 10px;
                        }
                    }
                }
            }
        }
    }
    #copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            color: red;
            font-weight: bold;
        }
    }
}

/*-------- Brands --------*/
.brands {
    display: flex;
    justify-content: center;

    .col-5 {
        width: 120px;
        display: flex;
        justify-content: center;

        img {
            object-fit: contain;
            width: 50%;
            cursor: pointer;
            filter: grayscale(100%);
            transition: 1s ease;

            &:hover {
                filter: grayscale(0);
            }
        }
    }
}