.title{
    text-align: center;
    margin: 5%;
    font-size: $tam-titulos;
}
.container-madre{
    width: 100%;
}

.filtros-B{
    margin: 3%;
    img{
        width: 20vw;
        height: 60vh;
        object-fit: cover;
    }
}

.small-container{
   margin: 0 1% 5% 0;
    .col-4{
        flex-basis: 30%;
        padding: 10px;
        min-width: 320px;
        margin-bottom: 50px;
        transition: 1s ease;
        &:hover{
            transform: translateY(-5px); 
        }
        .card{
            border-style: none;
        }
        h4{
            color: $color-negro;
        }
        p{
            font-size: 14px;
            font-weight: bold;
        }
        img{
            width: 100%;
        }
        .btn-primary{
            background: #fff;
            text-transform: uppercase;
            border-radius: 0;
            border-color: #000;
            color: #000;
            &:hover{
                color: #fff;
                background: rgb(0, 0, 0);
            }
        }
    }
}

